* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url('fondo.jpg');
  }
  
  .form-register {
    width: 400px;
    background: #00000077;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: rgba(207, 203, 203, 0.651);
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #000000;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #00000062;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #000000;
    border: none;
    padding: 12px;
    color: rgb(194, 186, 186);
    margin: 16px 0;
    font-size: 16px;
  }